{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Agregar Destino</title>
    <link href="{% static 'styles/agregar_styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="content">
        <h1>Agregar Destino</h1>
        <div class="formulario">
            <form action="{% url 'addDest' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" name="nombre" placeholder="Nombre" class="form-control"><br>
                <input type="file" name="imagen" placeholder="Imagen" class="form-control"><br>
                <input type="text" name="descripcion" placeholder="Descripcion" class="form-control"><br>
                <input type="text" name="precio" placeholder="Precio" class="form-control"><br>
                <label for="oferta">Oferta:</label>
                <select name="oferta" id="oferta" class="form-control" required>
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select><br>
                <input type="submit" class="boton btn">
            </form>
        </div>
    </div>
</body>
</html>
