<!DOCTYPE html>
<html>
<head>
    <title>Editar Destinos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% load crispy_forms_tags %}
    <div class="container mt-5">
        <h1>Editar Destino</h1>
        <form method="post" action="{% url 'actDest' destino.id %}">
            {% csrf_token %}
            {% crispy form %}
            <button type="submit" class="btn btn-primary mt-3">Guardar</button>
        </form>
        <a href="{% url 'listaDest' %}" class="btn btn-secondary mt-3">Ver todos los Destinos</a>
    </div>
</body>
</html>
